.Message {
  position: absolute;
  bottom: 20px;
  right: 10px;
  border-radius: 5px 0 5px 5px;
  background: #DCF8C6;
  padding: 10px 15px;
  max-width: 230px;
  width: 100%;
  box-shadow: 5px 5px 10px #d4d4d4;
  z-index: 1000;
}

.Message__title {
  margin: 0;
  color: #2b2b2b;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 230px;
}

.Message__description {
  font-size: .8em;
  color: #5b5b5b;
}

.Message__pick {
  width: 0;
  height: 2px;
  border-bottom: 8px solid transparent;
  position: absolute;
  z-index: 200;
  top: 0;
  right: -9px;
  border-left: 10px solid #DCF8C6;
}

@media screen and (max-width: 600px) {
  .Message {
    bottom: 8px;
  }
}
