.ModalDetails {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
}

.ModalDetails__transparent {
  background-color: rgba(0, 0, 0, .1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ModalDetails__contain {
  background: #fff;
  z-index: 10;
  padding: 10px;
  border-radius: 5px;
  min-width: 300px;
  max-width: 500px;
}

.ModalDetails__contain-hero {
  display: flex;
  align-items: center;
}

.ModalDetails__contain-hero-title {
  padding: 10px;
  color: #4b4b4b;
}