.ItemArtist {
  border: 1px solid #eee;
  box-shadow: 5px 5px 10px #a5a5a5;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-gap: 5px;
  min-height: 140px;
  background: #fff;
}

.ItemArtist:hover {
  transform: scale(1.03);
}

.ItemArtist__name {
  color: #5b5b5b;
  font-weight: 400;
  font-size: 1em;
}

.ItemArtist__country {
  color: #6b6b6b;
  font-size: .9em;
}

.ItemArtist__btn {
  display: flex;
  justify-content: space-between;
}