.ListArtist__button {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
}

.ListArtist__button-favs {
  padding: 0 10px;
  cursor: pointer;
}

.ListArtist__title {
  text-align: center;
  color: #4b4b4b;
}

.ListArtist__list {
  display: grid;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 1100px;
  grid-template-columns: repeat(4, 1fr);
}