.ListArtist {
  overflow: auto;
  padding: 20px 0;
}

.ListArtist__hero {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  align-items: center;
}

.ListArtist__hero-favs {
  padding: 0 10px;
  cursor: pointer;
}

.ListArtist__hero-title {
  text-align: center;
  color: #4b4b4b;
  margin: 0 auto;
}

.ListArtist__list {
  display: grid;
  grid-gap: 15px;
  margin: 0 auto;
  max-width: 1100px;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  overflow: auto;
}

@media screen and (max-width: 920px) {
  .ListArtist__list {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (max-width: 670px) {
  .ListArtist__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 410px) {
  .ListArtist__hero {
    flex-direction: column;
  }
  .ListArtist__list {
    grid-template-columns:  1fr;
  }
  .ListArtist__hero-favs {
    padding: 5px 0;
    cursor: pointer;
  }
  .ListArtist__hero-title {
    padding: 5px 0;
  }
}