.SearchArtist {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 300px;
}

.SearchArtist__input {
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  max-width: 450px;
  width: 100%;
  min-width: 300px;
  outline:  0;
}
