.SearchArtist {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 300px;
}

.SearchArtist__input {
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  max-width: 450px;
  width: 100%;
  min-width: 300px;
  outline:  0;
  box-shadow: 5px 5px 10px #d4d4d4;
}

@media screen and (max-width: 1100px) {
  .SearchArtist {
    box-shadow: 5px 5px 10px #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    background: #3cd372;
  }

  .SearchArtist__input {
    background: #f0f2f5;
    box-shadow: initial;
  }
}

@media screen and (max-width: 510px) {
  .SearchArtist__input {
    width: 85%;
    min-width: initial
  }
}