body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ScrollBar {
  overflow: auto;
}

.ScrollBar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.ScrollBar::-webkit-scrollbar-thumb {
  background: #cccccc;
}

.ScrollBar::-webkit-scrollbar-thumb:hover {
  background: #acacac 0%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.ScrollBar::-webkit-scrollbar-thumb:active {
  background-color: #999999 ;
}
.ScrollBar::-webkit-scrollbar-track {
  background: transparent;
}
